@model webinar.Models.Passedoutyear

@{
    ViewBag.Title = "createOrEditpassedoutyear";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style type="text/css">
    .form-control {
        border-radius: 0px;
        padding: 15px;
        border-color: #000000;
        height: calc(1.5em + .75rem + 10px);
        border-top: none;
        border-left: none;
        border-bottom: 1px solid black;
        border-right: none;
        height: 25px;
        outline: none;
        width: 100%
    }



    label::after {
        content: '*';
        color: red;
    }

    label {
        color: #001b40;
        font-weight: 400;
    }

    .list-items li {
        margin: 10px 0
    }

    body {
        padding: 0;
        background-color: #fff9e8;
    }

    .logo {
        position: absolute;
        top: 5%;
        left: 3%;
    }

    select {
        padding: 8px !important;
        width: 100% !important;
    }

    #demo div {
        background-color: #001b40;
        display: inline-block;
        padding: 50px 35px;
    }

        #demo div span {
            margin: 10px;
            padding: 15px;
            color: #ffffff;
            position: relative;
            width: 100px
        }

            #demo div span:first-child {
                background-color: #fc0f58;
            }

                #demo div span:first-child::after {
                    content: 'Days';
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    right: 0;
                    font-size: 10pt;
                }

            #demo div span:nth-child(2) {
                background-color: #ffdb4a;
            }

                #demo div span:nth-child(2)::after {
                    content: 'Hours';
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    right: 0;
                    font-size: 10pt;
                }

            #demo div span:nth-child(3) {
                background-color: #24d0fd
            }

                #demo div span:nth-child(3)::after {
                    content: 'Minutes';
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    right: 0;
                    font-size: 10pt;
                }

            #demo div span:nth-child(4) {
                background-color: #37c876
            }

                #demo div span:nth-child(4)::after {
                    content: 'Seconds';
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    right: 0;
                    font-size: 8pt;
                }

    .text-danger {
        font-size: 16px;
    }
</style>
<div class="container-fluid p-3">
    <div class="row">
        <div class="col-md-12" style="display:flex; justify-content:center" ">
            <div class="col-md-4 col-12 p-sm-3 p-xs-3 " style="background: #fff;box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);padding:1rem; margin-top:20px" ;>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>RapidDataUsers</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(Model => Model.id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.passedoutyear, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.passedoutyear, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.passedoutyear, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div>
                                <input type="submit" id="Submitt" value="Submit" class="btn" style="  background-color: #044092; color: #ffffff; margin-top: 20px; min-width: 60%; border-radius: 0; padding: 8px; font-size: 18pt;outline: none; border: none; border-radius: 8px; text-transform: uppercase;" />
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>


    </div>
</div>

